<h1 class="page-header">Create User</h1>

<form method="POST" action="/create_user">
	<div class="form-group">
		<label for="name" class="control-label">Name</label>
		<input type="text" class="form-control" id="name" name="name" value="<%= name rescue '' %>">

		<label for="password" class="control-label">Password</label>
		<input type="password" class="form-control" id="password" name="password" value="<%= password rescue '' %>">
	</div>

	<a type="button" class="btn btn-default" href="javascript:history.back();">Cancel</a>
	<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#waitReloadModal">Submit</button>
</form>
