<h1 class="page-header">Destroy Reverse Proxy</h1>

<h4>Are you sure to destroy <%= reverse_proxy.name %> ?</h4>

<form method="POST" action="/destroy_reverse_proxy/<%= reverse_proxy.id %>">
	<a type="button" class="btn btn-default" href="javascript:history.back();">Cancel</a>
	<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#waitReloadModal">Submit</button>
</form>
